  @import "tailwindcss";

  @keyframes scrollBackground {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  html {
  scroll-behavior: smooth;
}


  .bg-scroll {
    background-image: url('/stacked-waves-haikei.svg');
    background-size: 200%;
    background-repeat: repeat;
    background-position: 0% 0%;
    animation: scrollBackground 30s linear infinite;
  }
